@font-face {
    font-family: 'plex';
    font-weight: normal;
    src: url('../staefgecynda/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'plex-light';
    src: url('../staefgecynda/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'plex-bold';
    src: url('../staefgecynda/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../staefgecynda/Inconsolata-Regular.ttf') format('truetype');
}
