/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main CSS */

.sans {
    font-family: 'Quicksand', sans-serif;
    line-height: 1em;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: #f2f2f2;
}

p {
    margin-bottom: 1em;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a.icon {
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 25px;
    height: 25px;
}

a.icon.github {
    background-image: url('../bilitha/logos/github.svg');
}

a.icon.twitter {
    background-image: url('../bilitha/logos/twitter.svg');
}

a.icon.rotonde {
    background-image: url('../bilitha/logos/rotonde.svg');
}

a.icon.itchio {
    background-image: url('../bilitha/logos/itchio.svg');
}

a.icon.hraew {
    background-image: url('../bilitha/logos/leomu/hraew-logo-light.svg');
}

a.icon.autophagy-dark {
    background-image: url('../bilitha/logos/autophagy-logo-dark.svg');
}

a.icon.autophagy-light {
    background-image: url('../bilitha/logos/autophagy-logo-light.svg');
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    max-width: 100%;
}

table thead th {
    font-weight: bold;
    text-align: left;
}

table th, table td {
    padding: 0.5em;
}

table tbody tr:nth-of-type(odd) {
    background-color: #DADADA
}

pre {
    font-family: "Inconsolata",monospace;
    background-color: #DADADA;
    color: #000;
    padding: 20px;
    margin-bottom: 1em;
}

#lim, body, html {
    height: 100%;
    line-height: 150%;
}

#lim-header {
    position: relative;
    height: 100%;
    z-index: 4
}

#lim-image {
    background-color: #2d2d2d;
    width: 100%;
    height: calc(100% - 120px);
    background-size: cover;
    background-position: 50%;
}

#lim-detail {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    color: #f2f2f2;
    height: 120px;
    width: 100%;
    font-size: 40px;
}

#logo, #lim-name {
    padding-left: 40px;
    padding-right: 40px;
}

#logo img {
    width: 40px;
    height: 40px;
}

#lim-side-content {
    width: 200px;
    margin-right: 40px;
}

#lim-side-content h3 {
    color: #888888;
    margin-bottom: 1em;
    font-size: 1.5em;
}

#lim-side-content .project-activity {
    margin-bottom: 20px;
}

#lim-side-content .activity-line {
    display: flex;
    justify-content: space-between;
}

#lim-side-content .faereld-area {
    font-family: 'Inconsolata', monospace;
    width: 40px;
}

.faereld-bar {
    width: calc(100% - 40px);
}

.faereld-bar progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  height: 16px;
  background-color: transparent;
}

.faereld-bar progress[value]::-webkit-progress-bar  {
  background-color: transparent;
}

.faereld-bar progress[value]::-webkit-progress-value {
  background-color: #2D2D2D;
}

.faereld-bar progress::-moz-progress-bar {
    background-color: #2D2D2D;
}

#lim-head {
    font-size: 2em;
    color: #3b3b3b;
    margin-bottom: 40px;
    line-height: 125%;
}

#lim-content {
    display: flex;
    padding: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#lim-content .img-container {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

#lim-content .img-container img {
    max-width: 100%;
}

#lim-main-content {
    flex: 1;
}

footer {
    background-color: #2d2d2d;
    color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

footer #footer-wrapper {
    max-width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer #externals, footer #hraew-icon {
    display: flex;
    align-items: center;
}

footer #externals a.icon {
    margin-right: 15px;
}

/* Index */

#lim-content.index {
    height: calc(100% - 140px);
}

#index-icon a {
    width: 64px;
    height: 63px;
    margin-bottom: 20px;
}

ul#index-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

ul#index-list li {
    margin: 0 20px;
    margin-bottom: 20px;
    width: 200px;
}

ul#index-list li a{
    padding: 10px;
    display: block;
}

ul#index-list li a:hover{
    background-color: #dadada;
}

ul#index-list span {
    display: block;
}

ul#index-list .lim-brief {
    font-weight: normal;
    font-size: 75%;
    margin-top: -5px;
}

/* Exception Page */

#gedwola {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100% - 60px);
    background-color: #2d2d2d;
    color: #f2f2f2;
}

#gedwola-logo img {
    width: 200px;
}

#gedwola-message {
    margin-top: 1em;
    font-size: 4em;
}
