<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2D2D2D" />

      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='bilitha/logos/favicon-32x32.png') }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='bilitha/logos/favicon-16x16.png') }}">

    <title>Hrǽw</title>

    <link rel="stylesheet" href="{{url_for('static', filename='regolas/fonts.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='regolas/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='regolas/mobile.css')}}"/>
</head>

<body>
    <div id="lim">
        <div id="lim-content" class="index">
            {% block body %}
                <div id="lim-main-content">
                    <div id="index-desc">
                        <div id="index-icon">
                            <a href="#" class="icon autophagy-deorc"></a>
                        </div>
                        <div id="lim-head">
                            {{ lim.head }}
                        </div>
                        {{ lim.to_html()|safe}}
                    </div>

                    <ul id="index-list">
                    {% for lim_k, lim_v in leomu.items() %}
                        {% if lim_v.project %}
                            <li><a href="{{url_for('lim', lim_key=lim_k)}}">
                                <span class="lim-name">{{lim_v.name}}</span>
                                <span class="lim-brief">{{lim_v.brief}}</span>
                            </a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% endblock %}
        </div>

        {% include 'fot.html' %}
    </div>
</body>
</html>
