{% extends "layout.html" %}
{% block body %}
    {% if lim.project %}
    <div id="lim-side-content">
            <div class="project-activity">
                <div class="activity-line">
                    <div class="label">Status</div>
                    <div class="info">{{lim.status}}</div>
                </div>
            </div>

            {% if stats.get('total logs') > 0 %}
            <div class="project-activity">
            {% for area, percentage in stats.get('percentages').items() %}
                <div class="activity-line">
                    <div class="faereld-area">{{area}}</div>
                    <div class="faereld-bar"><progress value="{{percentage}}"" max="1"></progress></div>
                </div>
            {% endfor %}
            </div>
            <div id="heatmap" class="project-activity">
                {% for time in stats.get('daily times') %}
                <div id="day-{{loop.index-1}}" class="square {{ time.activity }}">
                {% if time.activity != "no-activity" %}
                    <div class="tooltip" id="tooltip-{{loop.index-1}}">
                        <div class="tooltip-date">{{ "{}.{}.{}".format(time.date.day, time.date.month, time.date.year) }}</div>
                        {% for area, duration in time.area_time_map.items() %}
                        <span class="tooltip-area">{{area}} :: {{duration|format_timedelta}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if lim.externals %}
            <ul>
            {% for external_key, external_link in lim.externals.items() %}
                <li><a href="{{external_link}}">{{external_key.title()}}</a>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}

    <div id="lim-main-content">
        <div id="lim-head">
            {{ lim.head }}
        </div>
        {% if stats.get('total logs') > 0 %}
        <p id="faereld-string" class="gast">
            {{ stats.get('total time') }} ({{ stats.get('total logs') }} logs) from {{ stats.get('first entry') }} to {{ stats.get('last entry') }}.
        </p>
        {% endif %}
        {{ lim.to_html()|safe}}
    </div>
{% endblock %}
