{% extends "layout.html" %}
{% block body %}
    {% if lim.project %}
    <div id="lim-side-content">
            <div class="project-activity">
                <div class="activity-line">
                    <div class="label">Status</div>
                    <div class="info">{{lim.status}}</div>
                </div>
            </div>

            {% if faereld_data %}
            <div class="project-activity">
            {% for area, percentage in faereld_data.percentages.items() %}
                <div class="activity-line">
                    <div class="faereld-area">{{area}}</div>
                    <div class="faereld-bar"><progress value="{{percentage}}"" max="1"></progress></div>
                </div>
            {% endfor %}
            </div>
            <div id="heatmap" class="project-activity">
                {% for time in faereld_data.daily_times %}
                {% if time[2] != "no-activity" %}
                <div id="day-{{loop.index-1}}" class="square {{ time[2] }}">
                    <div class="tooltip" id="tooltip-{{loop.index-1}}">
                        <div class="tooltip-date">{{ "{}.{}.{}".format(time[0].day, time[0].month, time[0].year) }}</div>
                        {% for area, duration in time[1].items() %}
                            <div class="tooltip-area">{{area}} :: {{duration}}</div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div id="day-{{loop.index-1}}" class="square {{ time[2] }}" node-data="{{ time[1] }}"></div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if lim.externals %}
            <ul>
            {% for external_key, external_link in lim.externals.items() %}
                <li><a href="{{external_link}}">{{external_key.title()}}</a>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}

    <div id="lim-main-content">
        <div id="lim-head">
            {{ lim.head }}
        </div>
        {% if faereld_data %}
        <p id="faereld-string" class="gast">
            {{faereld_data.formatted_time(faereld_data.total_time.total_seconds())}} ({{faereld_data.count}} logs) from {{faereld_data.first_entry}} to {{faereld_data.last_entry}}.
        </p>
        {% endif %}
        {{ lim.to_html()|safe}}
    </div>
{% endblock %}
